.fruits-counter-container {
  background-color: #ffd569;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fruits-counter{
  background-color: #fff;
  border-radius: 16px;
  width: 90%;
  max-width: 1100px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 20px;
  font-family: 'Roboto';
  color: #000;
  font-weight: 700;
  text-align: center;
}
.count {
  color: #ffd569;
}
.fruits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 80px;
}
.fruit-image {
  width: 200px;
  height: 175px;
}
.fruit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  text-align: center;
  margin-top: 24px;
}
.button {
  border: none;
  border-radius: 4px;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #fff;
  background-color: #007bff;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
}
